%form{:action => "/save_post", :method => :post}
	Tytuł posta:
	%br
	%input{:name => "tytul", :type => "text"}
	%br
	Twoja notka:
	%br
	%textarea{:cols => "30", :name => "tekst", :rows => "20"}
	%br
	%input{:type => "submit", :value => "Zapisz"}
