%body{:style => "background-color:#cc9933;float:center;align:center;"}
%div{:style => "background-color:#cc6633;height:250px;width:300px;float:left;"}/
%h1 Mój blog
%br
%ul
%a{:href => "/home/o_mnie"}
	%li O mnie
%br
%a{:href => "/add_post"}
	%li Dodaj nowego posta