%body{:style => "background-color:#a7a7a7;float:center;align:center;"}
%body{:bottommargin => "100", :leftmargin => "400", :rightmargin => "200", :topmargin => "50"}
%div{:style => "background-color:#909090;height:250px;width:300px;float:left; text-align:center"}/
%h2 O mnie
%br
%p Tutaj są wiadomości dot. mojego życia, których na potrzeby nauki - nie chce mi się pisać, lecz muszę tu coś zaaplikować, gdyż chcę dopasować tekst do odpowiedniej ramki. 
%br Dziękuję za uwagę.